<div class="container_loader">

  <div id="preloader_P22">
    <div id="loader_P22"></div>
  </div>

  <div class="container_loader__content">
    <h2>Innovation ist gelb.</h2>
  </div>
  <h2 class="container_loader__progress">0%...</h2>
</div>