<!DOCTYPE html>
<html lang="en">
{{>../../components/head/head.hbs}}

<body>

  <section class="dfrnc">
    {{>../../components/loader/loader.hbs}}
    {{!-- <div class="dfrnc-arrow dfrnc-arrow--prev">&lt;</div> --}}
    <div class="dfrnc__anim-canvas" id="mainAnimContainer" data-model="./models/"></div>
    {{!-- <div class="dfrnc-arrow dfrnc-arrow--next">&gt;</div> --}}
  </section>

  <div class="tempHeight"></div>
  {{!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.153.0/three.min.js"></script> --}}
</body>

</html>