@import "../../components/loader/loader.sass";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

// .tempHeight {
//   height: 500px;
//   background: gray;
// }

svg {
  width: 100%;
  height: auto;
}

.fpsView {
  z-index: 0 !important;
}

.dfrnc {
  position: relative;
  width: 100%;
  height: 100vh;

  &__anim-canvas {
    position: absolute;
    width: 100%;
    height: 100%;

  }

}