@import "../../components/loader/loader.sass";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// .tempHeight {
//   height: 500px;
//   background: gray;
// }

svg {
  width: 100%;
  height: auto;
}

.fpsView {
  z-index: 0 !important;
}

.dfrnc {
  position: relative;
  width: 100%;
  height: 100vh;

  &__anim-canvas {
    position: absolute;
    width: 100%;
    height: 100%;

  }

}

.glass-plus,
.glass-minus {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40px;
  z-index: 999;
}

.cursorPointer {
  cursor: pointer;
}